<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

        <!--注册bean-->
        <bean id="userService" class="com.service.UserServiceImp"/>
        <bean id="beforeLog" class="com.log.BeforeLog"/>
        <bean id="afterLog" class="com.log.AfterLog"/>

        <!--  方式1： 使用原生Spring API 接口  -->
        <!--配置aop:导入aop约束-->

        <aop:config>
            <!--execution 第一个星号表示返回值，第二个星号表示所有方法， ..表示所有参数-->
            <aop:pointcut id="pointcut" expression="execution(* com.service.UserServiceImp.*(..))"/>
            <!--beforeLog会在切入点之前执行是因为实现了Method before接口-->
            <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>
            <!--afterLog会在切入点之后执行是因为实现了Method after接口-->
            <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
        </aop:config>


</beans>